@{
    ViewData["Title"] = "Add Expense";
}

@model ExpenseTrack.Models.ExpenseData

<div class="text-center">
    <h1 class="display-4">Add or Create Expenses</h1>
</div>

<form asp-controller="Home" asp-action="ExpenseForm">
       <label class="mt-4">Value</label>
       <input class="form-control" type="number" placeholder="0" asp-for="Value"/> 
       
       <label class="mt-4">Description</label>
       <input class="form-control" type="text" placeholder="add a description" asp-for="Description"/>

       <button class="btn btn-primary mt-4" type="submit">OK</button>

</form>

