@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the trial Project</h1>
    <p>Yo wesite ma hami kharcha kasari samhalne herxau</p>
    <a asp-action="Expense" class="btn btn-primary">Overview</a>
    <a asp-action="AddExpense" class="btn btn-secondary">Add/Edit Expenses</a>
</div>
